<h1>Editing Entry</h1>

<%= render 'form', entry: @entry %>

<%= link_to 'Show', @entry %> |
<%= link_to 'Destroy', @entry, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', entries_path %>
