:root {
  --color-blue: #c4d2d9;
  --color-orange: #fac5b9;
  --color-red: #edcfd1;
  --bg-accent: #ddd;
  --bg-primary: #eee;
  --fg-primary: #222;
  --fg-inverse: #eee;
  --fg-bright: #000;
  --fg-dim: #aaa;
  --border-box-style: 1px solid var(--fg-dim);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-blue: #08415c;
    --color-orange: #f06449;
    --color-red: #a31621;
    --bg-accent: #000;
    --bg-primary: #222;
    --fg-primary: #eee;
    --fg-inverse: #222;
    --fg-bright: #fff;
    --fg-dim: #555;
    --border-box-style: 1px solid var(--fg-dim);
  }
}

body {
  background-color: var(--bg-accent);
  color: var(--fg-primary);
}
