:root {
  --color-blue: #2e3677;
  --color-orange: #73380d;
  --color-red: #621818;
  --bg-accent: #ddd;
  --bg-primary: #eee;
  --fg-primary: #222;
  --fg-inverse: #eee;
  --fg-bright: #000;
  --fg-dim: #aaa;
  --border-box-style: 1px solid var(--fg-dim);
  --border-primary-focus: 2px solid var(--fg-bright);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-blue: #2e3677;
    --color-orange: #73380d;
    --color-red: #621818;
    --bg-accent: #000;
    --bg-primary: #121212;
    --fg-primary: #eee;
    --fg-inverse: #222;
    --fg-bright: #eee;
    --fg-dim: #222;
    --border-box-style: 1px solid var(--fg-dim);
    --border-primary-focus: 2px solid var(--fg-bright);
  }
}

body {
  background-color: var(--bg-accent);
  color: var(--fg-primary);
}
