.cm-s-maeku-editor.CodeMirror {
  padding: 1em;
  background-color: var(--bg-primary);
  border: var(--border-box-style);
  color: var(--fg-primary);
  line-height: 1.5em;
}

.cm-s-maeku-editor div.CodeMirror-selected {
  background: #404040 !important;
  background-color: var(--color-orange);
}

.cm-s-maeku-editor span.cm-header {
  color: var(--fg-bright);
  font-size: 1.33em;
  line-height: 2em;
  font-weight: 600;

}

.cm-s-maeku-editor .CodeMirror-cursor {
  border-left: 0.25em solid var(--color-blue) !important;
}

.cm-s-maeku-editor span.cm-comment {
  color: var(--fg-dim);
}
.cm-s-maeku-editor span.cm-atom {
  color: var(--color-blue);
}
.cm-s-maeku-editor span.cm-number {
  color: var(--color-blue);
}

.cm-s-maeku-editor span.cm-property,
.cm-s-maeku-editor span.cm-attribute {
  color: #33ff00;
  color: red;
}

.cm-s-maeku-editor span.cm-keyword {
  color: #ff0000;
}

.cm-s-maeku-editor span.cm-string {
  color: #ff0099;
}

.cm-s-maeku-editor span.cm-variable {
  color: #33ff00;
}

.cm-s-maeku-editor span.cm-variable-2 {
  color: #0066ff;
}

.cm-s-maeku-editor span.cm-def {
  color: #ff9900;
}

.cm-s-maeku-editor span.cm-error {
  background: #ff0000;
  color: #c0c0c0;
}

.cm-s-maeku-editor span.cm-bracket {
  color: #e0e0e0;
}

.cm-s-maeku-editor span.cm-tag {
  color: #ff0000;
}
.cm-s-maeku-editor span.cm-link {
  color: var(--color-blue);
}

.cm-s-maeku-editor .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: var(--fg-bright) !important;
}
