@import 'entry-controls';

.entries .entry {
  border: var(--border-box-style);
  border-width: 1px 1px 0 1px;
  margin: 0 0.5em;
  padding: 0 0.5em;
  height: 10em;
  overflow: hidden;
  position: relative;

  &:last-child {
    border-width: 1px;
  }

  .title {
    color: var(--fg-bright);
    font-size: 1em;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (max-width: 700px) {
  .entries .entry {
    &::before {
      content: '';
      background: linear-gradient(transparent 55%, var(--bg-primary) 90%);
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}
