.entry .controls {
  &:not(.enter) {
    transform: translateY(100%);
  }

  &.enter {
    transition: var(--transition-default-ms);
  }

  &.enter-active,
  &.enter-done {
    transform: translateY(0);
    bottom: 0.25em;
  }

  &.exit {
    transition: var(--transition-default-ms);
  }

  &.exit-active {
    transform: translateY(100%);
  }
}
