@import 'entry-controls';

.entries .entry {
  border: var(--border-box-style);
  border-width: 0 0 2px;
  padding: 1em;
  height: 6em;
  overflow: hidden;
  position: relative;

  .title {
    color: var(--fg-bright);
    font-size: 1em;
  }
}

@media (max-width: 700px) {
  .entries .entry {
    padding: 0 0.5em;

    &::before {
      content: '';
      background: linear-gradient(
        transparent 55%,
        var(--bg-primary) 90%
      );
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}
